<!doctype html>
<html lang="en" ng-app="reviewApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="windows-1252">
    <title>Location visualisation demo</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="static/angular-ui-bootstrap.js"></script>
    <script type="text/javascript" src="static/static_input.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" media="all" type="text/css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="static/locvis.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>
        #loader {
            position: fixed;
            top:0;right:0;bottom:0;left:0;
            background: rgba(80,130,210,0.9);
            text-align:center;
            z-index:99;
        }
        #loadmsg {
            margin: 25px;
            font-size: 1.67em;
        }
        form {
            display: none;
        }
    </style>
    <script>
        jQuery(function($){
            h = $(window).height();
            iH = 66;
            m = (h-iH)/2;
            $('#ajaxloader').css({marginTop:m});
        });
    </script>
</head>
<body>
<div id="loader"><img id="ajaxloader" src="static/ajax-loader.gif" /><div id="loadmsg">Loading Biographies ...</div></div>
<div ng-controller="StatementCtrl" ng-init="initdata()">

    <section id="map-view" class="">
        <h2>{{pmId}} members</h2>
        <p id="spotted-names">
            <span ng-repeat="(name, ct) in spottedNames" ng-show="name != 'get'">
                {{name}} ({{ct}}), 
            </span>
        </p>
        <div id="map" style="width: 100%; height: 800px"></div>
    </section>
</div>
</body>
</html>
