<!doctype html>
<html lang="en" ng-app="reviewApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="windows-1252">
    <title>Location visualisation demo</title>
    <script src="static/jquery-1.9.1.js"></script>
    <script src="static/jquery-ui.js"></script>
    <script src="static/angular.min.js"></script>
    <script type="text/javascript" src="static/ui-bootstrap-tpls-0.13.0.js"></script>
    <script type="text/javascript" src="static/locvis.js"></script>
    <script src="static/leaflet.js"></script>
    <link href="static/jquery-ui.css" media="all" type="text/css" rel="stylesheet">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/locvis.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/leaflet.css" />
    <link rel="stylesheet" href="static/Control.FullScreen.css" />
 	<script src="static/Control.FullScreen.js"></script>
    <style>
        #loader {
            position: fixed;
            top:0;right:0;bottom:0;left:0;
            background: rgba(80,130,210,0.9);
            text-align:center;
            z-index:99;
        }
        #loadmsg {
            margin: 25px;
            font-size: 1.67em;
        }        
    </style>
    <script>
        jQuery(function($){
            h = $(window).height();
            iH = 66;
            m = (h-iH)/2;
            $('#ajaxloader').css({marginTop:m});
        });
    </script>
</head>
<body>
<div id="loader"><img id="ajaxloader" src="static/ajax-loader.gif" /><div id="loadmsg">Loading Location Names ...</div></div>
<div id="map">
    <div id="controller" ng-controller="StatementCtrl" ng-init="initdata()">
        <div class="col-sm-12">
		<section id="map-view" class="col-sm-5" ng-mouseover="disableMapControls()" ng-mouseout="enableMapControls()">
			<h2>Highlight places within the Netherlands</h2>
			<button id="toggle-menu-button" class="btn btn-default" data-ng-click="menu.toggle()" title="Show/hide menu">
                <span ng-class="menu.isShowing ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down'" class="glyphicon"></span>
            </button>
            <button id="clear-results-button" class="btn btn-default" data-ng-click="clearNamesAndFeatures()" title="Clear results">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>

			<menu class="container-fluid" data-ng-show="menu.isShowing">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="input-group">
                    <input type="text" class="form-control" ng-model="selected" placeholder="Show locations for a toponym" ng-class="{'loading-img': menu.toponymInput.isLoading}"
						typeahead="res for res in locationNames | filter:$viewValue | limitTo:17" ng-disabled="menu.toponymInput.isLoading">
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="getFeatureByName(selected)" title="Add to map" ng-disabled="menu.toponymInput.isLoading">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <input ng-model="inputUrl" type="url" class="form-control" placeholder="Show all locations that are mentioned in a Dutch webpage" 
						typeahead="url for url in menu.urlInput.examples" ng-disabled="menu.urlInput.isLoading" ng-class="{'loading-img': menu.urlInput.isLoading}">
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="getFeaturesFromUrl(inputUrl)" title="Add to map" ng-disabled="menu.urlInput.isLoading">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <textarea ng-model="inputText" class="col-xs-12 form-control" rows="2" placeholder="Show all locations that are mentioned in a (Dutch) text"
						ng-disabled="menu.textInput.isLoading" ng-class="{'loading-img': menu.textInput.isLoading}"></textarea>
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="getFeaturesFromText(inputText)" title="Add to map" ng-disabled="menu.textInput.isLoading">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="output-column valid-toponyms col-lg-8">
                    <h4>Spotted toponyms</h4>
                    <ul id="spotted-toponyms" class="scrollable-list">
                        <li ng-repeat="(toponym, postings) in disambiguatedToponyms" 
                            ng-show="toponym != 'get'" ng-click="menu.select(toponym)">
                            <span class="toponym" ng-class="{'selected-toponym': menu.isSelected(toponym)}">
                                {{toponym}} ({{postings.length}})
                            </span>
                            <ul ng-if="menu.isSelected(toponym)">
                                <li ng-repeat="posting in postings">
                                    <strong>Span [{{posting.span[0]}}..{{posting.span[1]}}]</strong>
                                    <table class="table table-condensed">
                                        <thead><tr>
                                            <th>Geo-type</th><th>Probability</th>
                                        </tr></thead>                                        
                                        <tr ng-repeat="gt_prob in posting.geotype_probabilities">
                                            <td>{{gt_prob[0]}}</td><td>{{gt_prob[1]|number:3}}</td>
                                        </tr>
                                    </table>
                                    <table class="table table-condensed">
                                        <thead><tr>
                                            <th>Candidate</th><th>Probability</th>
                                        </tr></thead>
                                        <tr ng-repeat="sc in posting.scored_candidates">
                                            <td><code>{{sc[1]|limitTo:-12}}</code></td><td>{{sc[0]|number:3}}</td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="output-column faux-toponyms col-lg-4">
                    <h4>Falsely detected</h4>
                    <ul id="faux-toponyms" class="scrollable-list">
                        <li ng-repeat="(toponym, postings) in fauxToponyms" ng-show="toponym != 'get'">
                            <span>{{toponym}} ({{postings.length}})</span>
                        </li>
                    </ul>
                </div>
			</menu>
		</section>
        </div>
	</div>
</div>
</body>
</html>
