section {
    max-width: 1600px;
    padding: 5px;
}
h1 {
    text-align: center;
}
p {
    max-width: 1000px;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}
#controller {
    position: fixed;
    z-index:99;
    width: 100%
}

#map-view {
  margin-left: 30px;
  background-color: rgba(121, 126, 45, 0.67);
  border: solid 2px darkgrey;
  border-radius: 7px;
  cursor: default;
}

.btn.disabled {
    opacity: 0.4;
}

div.disabled a{
    display: none;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

/* Menu */
.scrollable-list {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    padding: 0;
}

#toggle-menu-button {
    padding: 3px 7px;
}
#toggle-menu-button span{
    font-size: 1.5em;
}

.output-column {
    background-color: rgba(190, 180, 157, 0.8);
}

.valid-toponyms {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.faux-toponyms {
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#spotted-toponyms {
    list-style: none;
}
#spotted-toponyms table{
    margin-bottom: 0px;
}

.toponym {
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.toponym:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
    content: "\e081";
}

.selected-toponym {
    color: blue;
}
.selected-toponym:before {
    content: "\e082";
}

.loading-img {
	background: white url(small-loader.gif) no-repeat right center;
}